
@media (min-width: 724px) and (min-width: 1025px) 
{
    header.unified-header {
        margin-right: 1em;
    }
}

header.unified-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    line-height: 1;
    z-index: 1000;
    padding: 1em;
}

header {
    display: block;
}

section.links-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2em;
}

section.title-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2em;
}
